@import '/src/styles/common.scss';

.collection-table-rt {
    font-size: 16px;
    @media screen and (max-width: 768px) {
        display: none;
    }
    td:first-child {
        div {
            display: flex;
            align-items: center;
            .no {
                margin-right: 30px;
            }
            .image {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                background: $gray2;
                margin-right: 10px;
            }
            .collection {
                margin-right: 5px;
            }
        }
    }
    td:nth-child(2), td:nth-child(3) {
        div {
            display: flex;
            flex-direction: column;
            p {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                svg {
                    path {
                        fill: var(--color0);
                    }
                }
                .price {
                    margin-left: 5px;
                }
            }
            .change {
                font-size: 14px;
                color: $green0;
            }
        }
    }
    td:nth-child(4) {
        div {
            display: flex;
            align-items: center;
            svg {
                path {
                    fill: var(--color0);
                }
            }
            span {
                margin-left: 5px;
            }
        }
    }
}
.collection-list-rt {
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: var(--color0);
        li {
            padding: 20px 20px 20px 0;
            border-bottom: 1px solid var(--color4);
            .main-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;
                .left {
                    display: flex;
                    align-items: center;
                    .no {
                        margin-right: 30px;
                    }
                    .image {
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        background-color: $gray2;
                        margin-right: 10px;
                    }
                    .collection {
                        margin-right: 5px;
                    }
                }
                .right {
                    path {
                        stroke: var(--color0);
                    }
                }
            }
            .other-info {
                margin: 0 0 0 90px;
                .row {
                    margin: -5px;
                    & > div {
                        padding: 5px;
                        span {
                            margin-left: 5px;
                        }
                        svg {
                            path {
                                fill: var(--color0);
                            }
                        }
                    }
                    .col-4 {
                        color: $green0;
                    }
                    .col-3 {
                        color:var(--color3);
                    }
                }
            }
        }
    }
}