$blue0: #4697F3;
$blue1: #60CCF5;
$blue2: #52C1FF;
$gray0: #D9D9D9;
$gray1: #F9F9F9;
$gray2: #232B3C;
$gray3: #D5DAE0;
$gray4: #F4F5FA;
$red0: #DE3446;
$green0: #1BBB43;

$darkbg0: #0B1426;
$darkbg1: #0B101C;

$darkcardbg0: rgba(249, 249, 249, 0.1);

$darkfg0: #FFFFFF;
$darkfg1: rgba(255, 255, 255, 0.6);
$darkfg2: rgba(255, 255, 255, 0.3);


$lightbg0: #FFFFFF;

$lightcardbg0: rgb(249, 249, 249);

$lightfg0: #000000;
$lightfg1: rgba(0, 0, 0, 0.6);

$primarybnbg: linear-gradient(60deg, $blue0, $blue1);