@import '/src/styles/theme.scss';
@import '/src/styles/common.scss';

.see-nft-card-rt {
    @extend .card;
    padding: 15px 15px 20px;
    .image {
        width: 100%;
        height: 371px;
        background: var(--seeNftImageBg);
        margin-bottom: 20px;
        border-radius: 15px;
    }
    .button-rt {
        font-size: 18px;
        width: 100%;
        padding: 20px;
    }
}

.account-card-rt {
    @extend .card;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: $gray0;
        margin-right: 20px;
    }
    .name {
        margin-right: 10px;
    }
}

.sort-by-select-rt {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 4px 50px;
    .setting-icon {
        margin-right: 10px;
    }
    .text {
        font-size: 16px;
        margin-right: 8px;
    }
    .separater {
        margin-right: 8px;
        width: 1px;
        height: 24px;
        background: rgba(0, 0, 0, 0.1);
    }
    .arrow {
        path {
            stroke: black;
        }
    }
}

.nft-card-rt {
    @extend .card;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 30px;
    .owner {
        display: flex;
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: $gray1;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $gray0;
            margin-right: 10px;
        }
        .name {
            display: flex;
            flex-direction: column;
            span:first-child {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.4);
                margin-bottom: auto;
            }
            span:last-child {
                font-size: 16px;
                color: black;
            }
        }
    }
    .image {
        width: 100%;
        height: 400px;
        background-color: $gray1;
        border-radius: 10px;
        margin-bottom: 25px;
    }
    .nft-id {
        display: flex;
        justify-content: space-between;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        margin-bottom: 15px;
    }
    .nft-name {
        font-size: 24px;
        color: black;
        margin-bottom: 20px;
    }
    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
            font-size: 22px;
            margin-right: 5px;
            color: black;
        }
        .price-usd {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.4);
        }
        .button-rt {
            color: black;
            padding: 10px 40px;
        }
    }
}