@import '/src/styles/common.scss';

.creator-page-rt {
    background-color: var(--background0);
    .top-section {
        padding: 30px 0;
        background-color: var(--background1);
        .profile {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            position: relative;
            color: var(--color0);
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            .user {
                display: flex;
                align-items: center;
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    align-items: baseline;
                }   
                .avatar {
                    width: 90px;
                    height: 90px;
                    border-radius: 5px;
                    background-color: var(--cardimgbg4);
                    margin-right: 20px;
                    @media screen and (max-width: 768px) {
                        margin-bottom: 20px;
                    }
                }
                .other {
                    @media screen and (max-width: 768px) {
                        display: flex;
                        flex-direction: column;
                    }
                    .name {
                        font-size: 22px;
                        margin-bottom: 10px;
                        svg {
                            margin-left: 10px;
                        }
                        @media screen and (max-width: 768px) {
                            margin-bottom: 10px;
                        }
                    }
                    .wallet {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        div:first-child {
                            margin-right: 30px;
                            font-size: 16px;
                            @media screen and (max-width: 768px) {
                                margin-bottom: 10px;
                            }
                            span {
                                color: var(--color3);
                                margin-right: 10px;
                            }
                            svg {
                                path {
                                    stroke: var(--color0);
                                }
                            }
                        }
                        div:last-child {
                            color: var(--color1);
                            font-size: 14px;
                            @media screen and (max-width: 768px) {
                                margin-bottom: 20px;
                            }
                            span {
                                margin-right: 10px;
                            }
                            span:last-child {
                                color: $blue0;
                            }
                        }
                    }
                }
            }
            .share {
                display: flex;
                align-items: center;
                & > svg {
                    margin-right: 20px;
                }
                & > svg:first-child {
                    path {
                        stroke: var(--color0);
                    }
                }
                & > svg:not(:first-child) {
                    path {
                        fill: var(--color0);
                    }
                }
                .share-bn {
                    padding: 10px 12px;
                    border: 1px solid var(--color5);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    svg {
                        margin-right: 10px;
                        path {
                            stroke: var(--color0);
                        }
                    }
                }
            }
            .trade-earn {
                position: absolute;
                right: 0;
                top: 75px;
                background: linear-gradient(to right, #FF0000, #FFE600 33%, #00FF0A 67%, #000AFF);
                padding: 2px;
                border-radius: 5px;
                @media screen and(max-width: 768px) {
                    top: 40px;
                }
                .inner {
                    padding: 10px 15px;
                    font-size: 14px;
                    background-color: var(--cardimgbg5);
                    border-radius: 5px;
                }
            }
        }
        .nft-info {
            display: flex;
            width: fit-content;
            border: 1px solid var(--color5);
            border-radius: 10px;
            background-color: var(--cardimgbg5);
            font-size: 14px;
            overflow-x: auto;
            color: var(--color0);
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            div {
                padding: 12px 20px;
                white-space: nowrap;
                svg:nth-child(2) {
                    path {
                        fill: var(--color0);
                    }
                }
                svg:nth-child(5) {
                    path {
                        stroke: var(--color0);
                    }
                }
            }
            span {
                margin-right: 15px;
            }
            svg {
                margin-right: 5px;
            }
            span:first-child {
                color:var(--color1);      
            }
            div:not(:last-child) {
                border-right: 1px solid var(--color5);
            }
            .change {
                color: $red0;
            }
            .amount {
                font-weight: 700;
            }
        }
    }
    .tab {
        border-top: 1px solid var(--color4);
        border-bottom: 1px solid var(--color4);
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            font-size: 14px;
            color: var(--color0);
            li {
                padding: 15px;
                cursor: pointer;
            }
            li.active {
                border-bottom: 1px solid $blue0;
            }
        }
    }
    .body {
        padding-bottom: 50px;
        .filter {
            display: flex;
            flex-direction: row-reverse;
            padding: 30px 0;
            @media screen and (max-width: 768px) {
                flex-direction: column;   
            }
            input, select {
                @media screen and (max-width: 768px) {
                    width: 100%;       
                }
                background-color: var(--background2);
                color: var(--color0);
                border: none;
                padding: 15px;
                font-size: 14px;
                width: 300px;
                border-radius: 5px;
            }
            select {
                appearance: none;
                background-image: var(--selectarrow);
                background-repeat: no-repeat;
                background-position: right 20px center;
                background-size: 1.5em;
            }
            .search {
                position: relative;
                margin-right: 30px;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    margin-top: 15px;
                }
                span {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                }
                input {
                    padding-left: 50px;
                }
            }
        }
        .row {
            margin: -7.5px;
            & > div {
                padding: 7.5px;
            }
        }
    }
}