@import '/src/styles/common.scss';

.collection-page-rt {
    padding: 30px 0;
    background-color: var(--background0);
    h1 {
        font-size: 64px;
        margin-bottom: 30px;
        color: var(--color0);
        @media screen and (max-width: 768px) {
            font-size: 46px;
        }
    }
    .description {
        margin-bottom: 50px;
        font-size: 18px;
        color: var(--color0);
        @media screen and (max-width: 768px) {
            margin-bottom: 40px;
        }
    }
    hr {
        background-color: var(--color4);
        margin: 0 0 30px;
    }
    .controller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .filter {
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 15px;
            }
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                border-radius: 5px;
                border: 1px solid var(--color3);
                li {
                    margin: 0;
                    padding: 15px 0;
                    width: 130px;
                    text-align: center;
                    cursor: pointer;
                    color: var(--color0);
                    @media screen and (max-width: 768px) {
                        width: 50%;
                    }
                }
                li.active {
                    background-color: var(--cardimgbg3);
                    border-radius: 5px;
                    color: $blue0;
                }
            }
        }
        .sort {
            @media screen and (max-width: 768px) {
                width: 100%;       
            }
            select {
                @media screen and (max-width: 768px) {
                    width: 100%;       
                }
                background-color: var(--cardimgbg3);
                border: none;
                padding: 15px 20px;
                font-size: 16px;
                width: 300px;
                border-radius: 5px;
                color: var(--color0);

                appearance: none;
                background-image: var(--selectarrow);
                background-repeat: no-repeat;
                background-position: right 20px center;
                background-size: 1.5em;
            }
        }
    }
}