@import '/src/styles/variables';

.button-rt {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border-radius: 7px;
    border: none;
    &:focus-visible {
        outline: none;
    }
}
.button-rt.primary {
    background: $primarybnbg;
}
.button-rt.dark {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.button-rt.theme-primary {
    background: var(--primaryBnBg);
}
.button-rt.danger {
    background: $red0;
}

.table-rt {
    @media screen and (max-width: 768px) {
        overflow-x: auto;
    }
    table {
        width: 100%;
        color: var(--color0);
        th {
            padding-bottom: 15px;
            border-bottom: 1px solid var(--color4);
            font-size: 16px;
            font-weight: normal;
        }
        td {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid var(--color4);
            font-weight: 600;
        }
    }
    .table-footer {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        margin: 0;
        @media screen and (max-width: 768px) {
            padding-right: 15px;
        }
        .label {
            font-size: 16px;
            color: var(--color0);
        }
        .pagination {
            display: flex;
            align-items: center;
            margin-left: 30px;
            color: var(--color3);
            span {
                margin-right: 20px;
                cursor: pointer;
                @media screen and (max-width: 768px) {
                    margin-right: 10px;
                }
            }
            span:last-child {
                margin: 0;
            }
            svg {
                cursor: pointer;
            }
        }
        .active {
            color: var(--color0);
        }
    }
}