@import '/src/styles/common.scss';

.creator-card-rt {
    @extend .card;
    padding: 15px 15px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--cardbg1);
    color: var(--color0);
    .image {
        width: 100%;
        height: 180px;
        border-radius: 5px;
        background-color: var(--cardimgbg2);
        border: 1px solid var(--color4);
        margin-bottom: 10px;
    }
    p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .price-rank {
        display: flex;
        justify-content: space-between;
        .price {
            display: flex;
            align-items: center;
            font-size: 14px;
            span {
                margin-left: 5px;
            }
            svg {
                path {
                    fill: var(--color0);
                }
            }
        }
        .rank {
            padding: 4px 7px;
            border-radius: 5px;
            border: 1px solid var(--color4);
            font-size: 12px;
            color: var(--color3);
        }
    }
}