@import '/src/styles/common.scss';

.item-card-rt {
    @extend .card;
    background-color: var(--cardbg1);
    .image {
        width: 100%;
        border-radius: 10px;
        img {
            width: 100%;
        }
    }
    .item {
        display: flex;
        flex-direction: column;
        padding: 30px;
        @media screen and (max-width: 1250px) {
            padding: 20px;
        }
        .item-id {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            font-size: 16px;
            color: var(--color0);
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
            span:last-child {
                color: var(--color3);
            }
        }
        .item-name {
            font-size: 28px;
            margin-bottom: 20px;
            color: var(--color0);
            @media screen and (max-width: 768px) {
                font-size: 22px;
            }
        }
        .item-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5 {
                display: flex;
                align-items: center;
                font-size: 28px;
                color: var(--color0);
                svg {
                    width: 28px;
                    height: 28px;
                    margin-left: 10px;
                    path {
                        fill: var(--color0);
                    }
                }
                @media screen and (max-width: 768px) {
                    font-size: 24px;
                    svg {
                        width: 17px;
                        height: 17px;
                    }
                }
            }
            h6 {
                font-size: 16px;
                color: var(--color3);
            }
            .button-rt {
                border-radius: 13px;
            }
        }
    }
}

.upload-modal-rt {
    .modal-dialog {
        max-width: 1300px;
        @media screen and (max-width: 1320px) {
            margin-left: 10px;
            margin-right: 10px;
        }
        .modal-content {
            border-radius: 20px;
            padding: 40px 70px;
            background-color: var(--background0);
            color: var(--color0);
            @media screen and (max-width: 768px) {
                padding: 30px 20px;
            }
            h3 {
                font-size: 24px;
                text-align: center;
                margin-bottom: 20px;
            }
            .form-element-name {
                margin-bottom: 25px;
            }
            .form-element-ticker {
                margin-bottom: 25px;
            }
            .form-element-royalties {
                margin-bottom: 10px;
            }
            .form-element-slider {
                margin-bottom: 15px;
            }
            .recommend {
                color: var(--color3);
                margin-bottom: 30px;
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
                span {
                    font-size: 16px;
                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
            .form-element-file {
                margin-bottom: 33px;
                label {
                    margin-bottom: 10px;
                }
                p {
                    margin-top: 10px;
                    color: var(--color3);
                    font-size: 16px;
                    span {
                        color: $blue0;
                    }
                }
            }
            .action {
                display: flex;
                flex-direction: column;
                align-items: center;
                .button-rt {
                    width: 100%;
                    margin-bottom: 25px;
                    background-color: black;
                    @media screen and (max-width: 768px) {
                        border-radius: 32px;
                    }
                }
                span {
                    cursor: pointer;
                    text-decoration: underline;
                    
                }
            }
        }
    }
}

.input-bg-rt {
    border-radius: 32px;
    padding: 2px;
    width: 100%;
    background: $primarybnbg;
}
.input-rt {
    border-radius: 32px;
    padding: 15px 35px;
    width: 100%;
    border: none;
    background-color: var(--background0);
    color: var(--color0);
    @media screen and (max-width: 768px) {
        padding: 15px 25px;
    }
    &:focus-visible, &:focus {
        border: none;
        outline: none;
    }
}
.input-container-rt {
    label {
        display: block;
        margin-bottom: 10px;
    }
    .input-border {
        @extend .input-bg-rt;
        input {
            @extend .input-rt;
        }
        select {
            @extend .input-rt;
            appearance: none;
            background-image: var(--selectarrow);
            background-repeat: no-repeat;
            background-position: right 24px center;
            background-size: 1.5em;
        }
    }
}
.slider-container-rt {
    width: 100%;
    .slider.slider-horizontal {
        width: 100%;
        .slider-track {
            background: var(--background1);
            box-shadow: none;
            .slider-selection {
                box-shadow: none;
                background: var(--background1);
            }
        }
        .slider-handle.round {
            background: var(--primaryBnBg);
        }
    }
}
.file-container-rt {
    width: 100%;
    input {
        display: none;
    }
    .displayer {
        width: 100%;
        @extend .input-bg-rt;
        .content {
            @extend .input-rt;
            display: flex;
            padding: 0;
            background-color: var(--background0);
            div {
                padding: 16px 32px;
            }
            div:first-child {
                border-right: 2px solid $blue0;
                background-color: var(--cardbg1);
                border-radius: 32px 0 0 32px;
                cursor: pointer;
            }
        }
    }
}